{% load static %}
<body class="theme-color2 light ltr">

    <!-- header start -->
    <header class="header-style-2" id="home">
        <div class="main-header navbar-searchbar">
            <div class="container-fluid-lg">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="main-menu">
                            <div class="menu-left">
                                <div class="brand-logo">
                                    
                                        {% comment %} <svg class="svg-icon">
                                            <use class="fill-color" xlink:href="{% static 'svg/icons.svg' %}#logo"></use>
                                        </svg> {% endcomment %}
                                        <img src="{% static 'images/logo.png' %}" class="img-fluid blur-up lazyload" alt="logo">
                                    
                                </div>
                               
                            </div>
                            <nav>
                                <div class="main-navbar">
                                    <div id="mainnav">
                                        <div class="toggle-nav">
                                            <i class="fa fa-bars sidebar-bar"></i>
                                        </div>
                                        <ul class="nav-menu">
                                            <li class="back-btn d-xl-none">
                                                <div class="close-btn">
                                                    Menu
                                                    <span class="mobile-back"><i class="fa fa-angle-left"></i>
                                                    </span>
                                                </div>
                                            </li>
                                            <li class="mega-menu home-menu {% if request.resolver_match.url_name == 'home' %}active{% endif %}">
                                                <a href="{% url 'home:home' %}" class="nav-link menu-title">home</a>
                                               
                                            </li>
                                            <li class="{% if request.resolver_match.url_name == 'shop' and not selected_category %}active{% endif %}">
                                                <a href="{% url 'products:shop' %}" class="nav-link menu-title">products</a>
                                    
                                            </li>
                                            {% for i in category %}
                                            <li class="{% if selected_category and selected_category.id == i.id %}active{% endif %}">
                                                <a href="{% url 'shop:shop' %}?category_id={{ i.id }}" class="nav-link menu-title">{{i.category_name}}</a>

                                            </li>
                                            {% endfor %}
                                            
                                           
                                           
                                        </ul>
                                    </div>
                                </div>
                            </nav>
                            <div class="menu-right">
                                <ul>
                                    <li>
                                        <div class="search-box">
                                            <i data-feather="search"></i>
                                        </div>
                                    </li>
                                    <li class="onhover-dropdown">
                                        <div class="cart-media">
                                            <a href="{% url 'accounts:profile' %}"><i data-feather="user"></i></a>
                                        </div>
                                        <div class="onhover-div profile-dropdown">
                                            <ul>
                                                <li>
                                                    <a href="{% url 'accounts:userlogin' %}" class="d-block">Login</a>
                                                </li>
                                                <li>
                                                    <a href="{% url 'accounts:usersignup' %}" class="d-block">Register</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </li> 
                                    <li class="onhover-dropdown wislist-dropdown">
                                       
                                        {% comment %} {% if wishlist_items %} {% endcomment %}
                                        <div class="cart-media">

                                            <a href="{% url 'outgoing:wishlist_view' %}">
                                                <i data-feather="heart"></i>
                                                <span class="label label-theme rounded-pill">{{ wishlist_items|length }}</span>
                                            </a>
                                        </div>
                                        {% comment %} {%else%}
                                        <div class="onhover-div">
                                            <a href="wishlist.html">
                                                <div class="wislist-empty">
                                                    <i class="fab fa-gratipay"></i>
                                                    <h6 class="mb-1">Your wislist empty !!</h6>
                                                    <p class="font-light mb-0">explore more and shortlist items.</p>
                                                </div>
                                            </a>
                                        </div>
                                        {% endif %} {% endcomment %}
                                    </li>
                                    <li class="onhover-dropdown cart-dropdown">
                                        <a href="{% url 'outgoing:cart' %}"> <button type="button" class="btn btn-solid-default btn-spacing">
                                            <i data-feather="shopping-cart" class="pe-2"></i>
                                            {% comment %} <span>$5686.25</span> {% endcomment %}
                                        </button></a>
                                         {% comment %}
                                        <div class="onhover-div">
                                             
                                            <div class="cart-menu">
                                              
                                                <div class="cart-title">
                                                    <h6>
                                                        <i data-feather="shopping-bag"></i>
                                                        <span class="label label-theme rounded-pill">5</span>
                                                    </h6>
                                                    <span class="d-md-none d-block">
                                                        <i class="fas fa-arrow-right back-cart"></i>
                                                    </span>
                                                </div>
                                                 <ul class="custom-scroll">
                                                    <li>
                                                        <div class="media">
                                                            <img src="assets/images/fashion/product/front/1.jpg"
                                                                class="img-fluid blur-up lazyload" alt="">
                                                            <div class="media-body">
                                                                <h6>Slim Fit Plastic Coat</h6>
                                                                <div class="qty-with-price">
                                                                    <span>$78.00</span>
                                                                    <span>
                                                                        <input type="number" class="form-control"
                                                                            value="1">
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <button type="button" class="btn-close d-block d-md-none"
                                                                aria-label="Close">
                                                                <i class="fas fa-times"></i>
                                                            </button>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="media">
                                                            <img src="assets/images/fashion/product/front/7.jpg"
                                                                class="img-fluid blur-up lazyload" alt="">
                                                            <div class="media-body">
                                                                <h6>Womens Stylish Jacket</h6>
                                                                <div class="qty-with-price">
                                                                    <span>$24.00</span>
                                                                    <span>
                                                                        <input type="number" class="form-control"
                                                                            value="1">
                                                                    </span>
                                                                </div>
                                                            </div>
                                                            <button type="button" class="btn-close d-block d-md-none"
                                                                aria-label="Close">
                                                                <i class="fas fa-times"></i>
                                                            </button>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="cart-btn">
                                                <h6 class="cart-total"><span class="font-light">Total:</span> $
                                                    542.00</h6>
                                                <button onclick="location.href = 'cart.html';" type="button"
                                                    class="btn btn-solid-default btn-block">
                                                    Proceed to payment
                                                </button>
                                            </div>
                                             
                                        </div>
                                        {% endcomment %}
                                    </li>
                                </ul>
                            </div>
                            <div class="search-full">
                                <div class="input-group">
                                    <span class="input-group-text">
                                        <i data-feather="search" class="font-light"></i>
                                    </span>
                                    <input type="text" class="form-control search-type" id="searchInput" placeholder="Search here...">
                                    <span class="input-group-text close-search">
                                        <i data-feather="x" class="font-light"></i>
                                    </span>
                                </div>
                            
                                <div class="search-suggestion" id="searchResults">
                                    <ul class="custom-scroll"></ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header end -->

    <!-- mobile fix menu start -->
    <div class="mobile-menu d-sm-none">
        <ul>
            <li>
                <a href="index.html">
                    <i data-feather="home"></i>
                    <span>Home</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" class="toggle-category">
                    <i data-feather="align-justify"></i>
                    <span>Category</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <i data-feather="shopping-bag"></i>
                    <span>Cart</span>
                </a>
            </li>
            <li>
                <a href="javascript:void(0)">
                    <i data-feather="heart"></i>
                    <span>Wishlist</span>
                </a>
            </li>
            <li>
                <a href="user-dashboard.html">
                    <i data-feather="user"></i>
                    <span>Account</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- mobile fix menu end -->
    <script>
        document.getElementById('searchInput').addEventListener('input', function() {
            const query = this.value;
        
            // Only search if there's input
            if (query.length > 0) {
                fetch(`/ajax-product-search/?query=${query}`)
                    .then(response => response.json())
                    .then(data => {
                        const searchResults = document.getElementById('searchResults');
                        const resultsList = searchResults.querySelector('ul');
                        resultsList.innerHTML = '';  // Clear previous results
        
                        data.products.forEach(product => {
                            const listItem = document.createElement('li');
                            listItem.innerHTML = `
                                <div class="product-cart media">
                                    <a href="${product.url}"><img src="${product.image}" class="img-fluid blur-up lazyload" alt=""></a>
                                    <div class="media-body">
                                          <!-- Link to product detail page -->
                                            <h6 class="mb-1">${product.name}</h6>
                                       
                                        <p class="mb-0 mt-1">$${product.price}</p>
                                    </div>
                                </div> 
                            `;
                            resultsList.appendChild(listItem);
                        });
                    });
            } else {
                document.getElementById('searchResults').querySelector('ul').innerHTML = '';  // Clear if no input
            }
        });
        
        
    </script>